@charset "utf-8";

:root {
  --text-color: #000000;
  --background-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --background-color: #000000;
  }
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color)
}

header {
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  height: 128px;
  margin: 10px;
}
header strong {
  color: #c60000;
}

h1 {
  text-align: center;
  margin: 10px;
}

article {
  margin: 10px;
}
.article-latn,
.article-cyrl {
  font-family: 'Roboto', sans-serif;
}
.article-hans {
  font-family: 'Noto Sans SC', sans-serif;
}
