@charset "utf-8";

:root {
  --text-color: #000000;
  --background-color: #ffffff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #ffffff;
    --background-color: #000000;
  }
}

html {
  font-size: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: block;
  margin: 0;
}

.warning {
  background-color: var(--text-color);
  color: var(--background-color);
  text-align: center;
  margin: 0;
  color: #ff0000;
  font-size: 3rem;
  padding: 10px;
}

h1 {
  text-align: center;
  margin: 10px;
  font-size: 3rem;
}

main {
  margin: 30px;
}
.article-latn,
.article-cyrl {
  font-family: 'Roboto', 'Inter', sans-serif;
  direction: ltr;
  unicode-bidi: bidi-override;
}
.article-arab {
  font-family: 'Noto Sans Arabic', serif;
  direction: rtl;
  unicode-bidi: bidi-override;
}
.article-armn {
  font-family: 'Noto Sans Armenian', sans-serif;
  direction: ltr;
  unicode-bidi: bidi-override;
}
.article-avst {
  font-family: 'Noto Sans Avestan', sans-serif;
  direction: rtl;
  unicode-bidi: bidi-override;
}
.article-deva {
  font-family: 'Noto Sans Devanagari', sans-serif;
  direction: ltr;
  unicode-bidi: bidi-override;
}
.article-ethi {
  font-family: 'Noto Sans Ethiopic', sans-serif;
  direction: ltr;
  unicode-bidi: bidi-override;
}
.article-hans {
  font-family: 'Noto Sans SC', sans-serif;
  direction: ltr;
  unicode-bidi: bidi-override;
}
.article-syrc {
  font-family: 'Noto Sans Syriac', sans-serif;
  direction: rtl;
  unicode-bidi: bidi-override;
}
